{% extends 'PumukitNewAdminBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <h2>{% trans %}Multimedia objects coming to expire{% endtrans %}</h2>
        </div>
    </div>
    <div class="table-responsive well" style="overflow:visible;font-size:12px">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>{% trans %}Nº{% endtrans %}</th>
                    <th>{% trans %}Img{% endtrans %}</th>
                    <th>{% trans %}Title{% endtrans %}</th>
                    <th>{% trans %}Publication{% endtrans %}</th>
                    <th>{% trans %}Expiration{% endtrans %}</th>
                    <th>{% trans %}Owners{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for multimediaObject in multimediaObjects %}
                    {% set color = "red" %}
                    {% if multimediaObject.properties.expiration_date|date("Y/m/d") > "now"|date("Y/m/d") %}
                        {% set color = "black" %}
                    {% endif %}
                    <tr>
                        <td><span data-id="{{ multimediaObject.id }}" />{{ loop.index }}</span></td>
                        <td><img src="{{ multimediaObject.getPic() }}" style="max-width:75px"/></td>
                        <td style="color:{{ color }}">{{ multimediaObject.title }}</td>
                        <td style="color:{{ color }}">{{ multimediaObject.getPublicDate()|date("d/m/Y") }}</td>
                        <td style="color:{{ color }}">{{ multimediaObject.properties.expiration_date|date("d/m/Y") }}</td>
                        <td>
                            <ul>
                                {% for people in multimediaObject.people %}
                                    <li><a href="mailto:{{ people.email }}">{{ people.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            {% if multimediaObject.properties.expiration_date|date("Y/m/d") < "now"|date("Y/m/d") %}
                            <ul>
                                <li>
                                    <a class="deleteVideo" href="#" data-text="{% trans %}Are you sure to delete this video? {% endtrans %}" data-title="{{ multimediaObject.title }}" data-url="{{ path('pumukit_expired_video_delete', {'key' : multimediaObject.id}) }}" style="color:blue" data-toggle="modal" data-target="#actionsModal">{% trans %}Delete{% endtrans %}</a>
                                </li>
                                <li>
                                    <a class="updateVideo" href="#" data-text="{% trans %}Are you sure to update this video? {% endtrans %}" data-title="{{ multimediaObject.title }}" data-url="{{ path('pumukit_expired_video_update', {'key' : multimediaObject.id}) }}" style="color:blue" data-toggle="modal" data-target="#actionsModal">{% trans %}Update another year with the same owners{% endtrans %}</a>
                                </li>
                            </ul>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="actionsModal" tabindex="-1" role="dialog" aria-labelledby="actionsModalLabel">
        <div class="modal-dialog modal-xs" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Expired video{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <span id="type_text"></span>
                    <br /><br />
                    <span id="mmobj_title"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    <a id="videoAccept" href="#" type="button" class="btn btn-primary">{% trans %}Accept{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.deleteVideo').on('click', function(event) {
            event.preventDefault();
            $('#videoAccept').attr('href', $(this).data('url'));
            $('#mmobj_title').html($(this).data('title'));
            $('#type_text').html($(this).data('text'));
        });

        $('.updateVideo').on('click', function(event) {
            event.preventDefault();
            $('#videoAccept').attr('href', $(this).data('url'));
            $('#mmobj_title').html($(this).data('title'));
            $('#type_text').html($(this).data('text'));
        });
    </script>

{% endblock %}