<h2>{{ subject|trans }}</h2>

<br/>

<p>{% trans %}To renew all your videos access this url:{% endtrans %}</p>
<ul>
    <li>
        <a href="{{ url('pumukit_expired_video_owner_renew_all', {'key': data.all }) }}">
            {{ url('pumukit_expired_video_owner_renew_all', {'key': data.all }) }}
        </a>
    </li>
</ul>

{% for video in data.videos %}
    <p>{% trans %}This video will be expire soon{% endtrans %}: {{ video.title }}</p>
    <p>{% trans %}Access this url to renew the video: {% endtrans %}</p>
    <ul>
        <li>
            <a href="{{ url('pumukit_expired_video_owner_renew', {'key' : video.token }) }}">
                {{ url('pumukit_expired_video_owner_renew', {'key' : video.token }) }}
            </a>
        </li>
    </ul>
    <br/>
{% endfor %}

<br/>
<br/>
{{ sender_name }}
